#sudo ls -la /var/lib/jenkins/config/jenkins.env.properties
#-rw------- 1 jenkins jenkins 63 Jun 23 16:30 /var/lib/jenkins/config/jenkins.env.properties

# This file is stored on Jenkins server.
# Location is stored in global jenkins variable.
# Jenkinsfile can read env variables from there to use in pipeline.
DOCKER_HUB_CREDENTIALS_ID=700ebccf-d742-4069-803d-9572a2e48a74
